html, body {
    height: 100%;
}


.hidden-video {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
}

.video-label-container {
    border: 1px solid gray;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .3)
}

.centered-file-input {
    justify-content: center !important;
}

.dropdown-item:hover {
    opacity: .7;
    cursor: pointer;
}

.animated {
    display: none;
}

#generic-input-modal-content {
    overflow: hidden;
}

#generic-input-modal-background {
    background-color: rgba(0, 0, 0, .4);
    color: transparent;
}

/*#clicker-title {*/
/*    border: 1px solid transparent;*/
/*    width: 200px;*/
/*    height: 200px; */

/*}*/

/*#clicker-subtitle {*/
/*    border: 1px solid transparent;*/

/*}*/

/*#generic-input-modal {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

canvas {
    position: absolute;
    left: 0;
    /*top: 0;*/
}

.title-has-julius {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
}

.subtitle-has-julius {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5em;
}

.has-julius {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

