.hidden-video {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
}

.video-label-container {
    border: 1px solid gray;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .3)
}

.centered-file-input {
    justify-content: center !important;
}

.dropdown-item:hover {
    opacity: .7;
    cursor: pointer;
}


#generic-input-modal-content {
    overflow: hidden;
}

#generic-input-modal-background {
    background-color: rgba(0, 0, 0, .4);
    color: transparent;
}
/*#generic-input-modal {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

canvas {
    position: absolute;
    left: 0;
    /*top: 0;*/
}