<!DOCTYPE html>
<html>
<head>
    <title>Clicker</title>
    {% load static %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="{% static 'js/video_api.js' %}"></script>
    <script src="{% static 'js/track_manager.js' %}"></script>
    <script src="{% static 'js/point_manager.js' %}"></script>
    <script src="{% static 'js/window_manager.js' %}"></script>
    <script src="{% static 'js/clicker.js' %}"></script>
    <script src="{% static 'js/clicker_animations.js' %}"></script>
    <script src="{% static 'js/broadcast_channel.js' %}"></script>
    <script src="{% static 'js/bulma-slider.js' %}"></script>
    <script src="{% static 'js/render_widgets.js' %}"></script>
    <script src="{% static 'js/communicators_manager.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.2/dist/tf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.2/math.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
    <link type="text/css" href="{% static 'css/clicker_index.css' %}" rel="stylesheet">
    <link type='text/css' href="{% static 'css/all.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/bulma-tooltip.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/bulma-slider.min.css' %}" rel="stylesheet">
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto&display=swap" rel="stylesheet">


</head>

<body>
{% csrf_token %}
<div id="generic-input-modal" class="modal">
    <div id="generic-input-modal-background" class="modal-background"></div>
    <div id="generic-input-modal-content" class="modal-content">
        <div id="modal-content-container" class="container">
        </div>
    </div>
</div>
<div id="blurrable" style="height: 100%">
    <section id="starter-menu">
        <div id="title-section" class="section">
            <!-- title section -->
            {#    <div class="container">#}
            <div class="columns is-centered is-vcentered is-multiline">
                <div class="column has-text-centered is-narrow justify-right">
                    <img style="display:none; height: auto" class="animated image" src="{% static 'images/icon.gif' %}">
                </div>

                <div id="title-div" class="column has-text-centered is-narrow justify-left">
                    <h1 id="clicker-title" class="title-has-julius animated" style="height: auto;">CLICKER</h1>
                    <h2 id="clicker-subtitle" class="subtitle-has-julius  has-text-grey animated" style="height: auto;">
                        Software for clicking</h2>
                </div>
            </div>

            {#    </div>#}
        </div>

        <section id="file-input-section" class="section">
            <div class="container">
                <div class="columns is-centered is-vcentered is-multiline">

                    <div class="column is-narrow">
                        <button id="new-project-button"
                                class="button has-background-dark has-text-white is-size-4 fade-on-hover">New Project
                        </button>
                    </div>
                    <div class="column is-narrow">
                        <button id="continue-working-button"
                                class="button has-background-dark has-text-white is-size-4 fade-on-hover">Continue
                            Working
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">

            function deleteSavedState(id) {
                let csrf_token = $("[name=csrfmiddlewaretoken]").val();

                $.ajax({
                    url: `{% url 'api:saved-states' %}`,
                    headers: {
                        "X-CSRFToken": csrf_token
                    },
                    method: "DELETE",
                    data: {"id": id},
                    success: function (result) {
                        $(`#saved-states-${id}`).remove();
                    }
                });
            }

            function postValidProject(parsedInputs) {
                let description = $("#description-input").val();
                let title = $("#project-name-input").val();
                let csrftoken = $("[name=csrfmiddlewaretoken]").val();
                let formData = new FormData();
                {#let publicInput = $("#public-input").is(":checked");#}
                formData.append("title", parsedInputs.title);
                formData.append("description", parsedInputs.description);
                {#formData.append("public", publicInput);#}

                $.ajax({
                    url: "{% url 'api:new-project' %}",
                    method: "POST",
                    async: true,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    timeout: 60000,
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    success: (results) => {
                        genericInputCleanUp($("#modal-content-container"), $("#generic-input-modal"));
                        loadNewlyCreatedProject(title, description, results.success.data.id, parsedInputs.selectedFiles);
                    },
                    error: (error) => {
                        if (error.status === 403) {
                            // This is the case where the user is not logged in!
                            genericInputCleanUp($("#modal-content-container"), $("#generic-input-modal"));
                            loadNewlyCreatedProject(title, description, 'none', parsedInputs.selectedFiles);
                        } else {
                            console.log(error);
                        }
                    }
                });
            }

            function goToLogin() {
                window.location = "{% url 'login' %}";
            }

            async function getSavedStates(pagination) {
                let results = await $.ajax({
                        url: "{% url 'api:saved-states' %}",
                        method: "GET",
                        data: {
                            pagination: pagination,
                        },
                        error: (error) => {
                            if (error.status === 403) {
                                generateError("You have to login before you can access this feature!",
                                    $(`<button class="button" onclick="goToLogin()">Login</button>
                           <button class="button" onclick="genericInputCleanUp($('#modal-content-container'), $('#generic-input-modal'));">Cancel</button>`))
                            }
                        }
                    }
                );

                return {results: results.states, endOfPagination: results.end_of_pagination};
            }

            function createNewSavedState(outputJson, autoSaved, projectID) {
                let csrftoken = $("[name=csrfmiddlewaretoken]").val();

                $.ajax({
                    url: "{% url 'api:saved-states' %}",
                    method: "POST",
                    data: {
                        json: JSON.stringify(outputJson),
                        autosave: autoSaved === true ? "true" : "",
                        projectID: projectID
                    },
                    headers: {
                        "X-CSRFToken": csrftoken
                    },

                    success: function () {
                        // TODO CHANGE
                        alert("Results Saved!");
                    },
                    error: function (error) {
                        if (error.statusCode === 403) {
                            if (!autoSaved) {
                                generateError("You have to be logged in to use this feature!");
                            }
                            clearInterval(AUTO_SAVE_INTERVAL_ID);
                            AUTO_SAVE_INTERVAL_ID = null;
                        }
                    }
                });
            }

            function autoHeightAnimate(element, time, callback) {
                // citation: https://codepen.io/JTParrett/pen/CAglw
                let autoHeight = element.css('height', 'auto').height(); // Get Auto Height
                element.height(0); // Reset to Default Height
                element.show(1, function () {
                    element.stop().animate({height: autoHeight, opacity: 1}, time, callback)
                });
            }

            function generatePopOutURL() {
                return "{% url 'clicker:popped-window' %}";
            }

            autoHeightAnimate($($(".animated")[1]), 600, function () {
                autoHeightAnimate($($(".animated")[2]), 600, function () {
                    autoHeightAnimate($($(".animated")[0]), 300, function () {
                        $('#new-project-button').stop().animate({boxShadow: '10px 10px #000'});
                        $('#continue-working-button').stop().animate({boxShadow: '10px 10px #000'});
                    })
                })
            });
        </script>

        <div id="saved-states-section" class="container no-display">
            <div id="saved-states-columns" class="columns is-centered is-vcentered">
            </div>
        </div>
    </section>

    <div id="settingsInput"></div>
    <div id="videos"></div>
    <div id="canvases" class="columns is-multiline"></div>
</div>

<footer id="footer" class="footer">
    <section class="section">
        <!-- fun facts section -->
        <div class="columns">
            <!-- TODO: REMOVE INLINE STYLE -->
            <div class="column is-4" style="border-right: 2px solid">
                <div class="columns is-multiline">
                    <div class="column is-12 has-text-centered" style="border-bottom: 2px solid">
                        <h1 class="title-has-julius">ARGUS INFORMATION</h1>
                    </div>
                    <div class="column is-narrow">
                        <img class="image" src="{% static 'images/icon.gif' %}">
                    </div>
                    <div class="column is-narrow">
                        ARGUS INFORMATION
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="columns is-multiline" style="border-right: 2px solid">
                    <div class="column is-12 has-text-centered" style="border-bottom: 2px solid">
                        <h1 class="title-has-julius">ARGUS INFORMATION</h1>
                    </div>
                    <div class="column is-narrow">
                        <img class="image" src="{% static 'images/icon.gif' %}">
                    </div>
                    <div class="column is-narrow">
                        ARGUS INFORMATION
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="columns is-multiline">
                    <div class="column is-12 has-text-centered" style="border-bottom: 2px solid">
                        <h1 class="title-has-julius">ARGUS INFORMATION</h1>
                    </div>
                    <div class="column is-narrow">
                        <img class="image" src="{% static 'images/icon.gif' %}">
                    </div>
                    <div class="column is-narrow">
                        ARGUS INFORMATION
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
</body>
</html>