<!DOCTYPE html>
<html>
    <head>
        <title>Clicker</title>
        {% load static %}
        <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
        <script src="{% static 'js/clicker.js' %}"></script>
        <script src="{% static 'js/video_api.js' %}"></script>
        <script src="{% static 'js/broadcast_channel.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.2/dist/tf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.2/math.js"></script>
        <link type="text/css" href="{% static 'css/clicker_index.css' %}" rel="stylesheet">
        <link type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
    </head>

    <body>
        <section id="file-input-section" class="section">
            <section class="section">
                <div class="columns is-desktop is-centered is-vcentered is-multiline">
                    <div class="column is-5"></div>
                    <div class="column has-text-centered is-2">
                        <div class="file has-text-centered">
                        <label class="file-label" style="left: 30%;">
                            <input
                                    id="video-file-input"
                                    class="file-input is-expanded"
                                    accept="video/*" type=file multiple
                            >
                            <span class="file-cta">
                                  <span class="file-label">
                                    Load Videos
                                  </span>
                            </span>
                        </label>
                        </div>
                    </div>
                    <div class="column is-5"></div>
                </div>
            </section>

            <section class="section">
                <div class="columns is-desktop is-centered is-vcentered is-multiline">
                    <div class="column is-5"></div>
                    <div class="column has-text-centered is-2">
                        <div class="file has-text-centered">
                        <label class="file-label" style="left: 26%;">
                            <input
                                    id="config-file-input"
                                    class="file-input is-expanded"
                                    accept=".yaml" type=file multiple
                            >
                            <span class="file-cta">
                                  <span class="file-label">
                                    Load Config File
                                  </span>
                            </span>
                        </label>
                        </div>
                    </div>
                    <div class="column is-5"></div>
                </div>
            </section>

        </section>
        <div id="settingsInput"></div>
        <div id="videos"></div>
        <div id="canvases"></div>
    </body>
</html>